<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <h3>About</h3>   
      <hr> 
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <img src="images/bg1.jpg" alt="..." class="img-responsive col col-xs-6 col-sm-4 pull-left">
      <p>
        Some text about us...
      </p>
      <hr>
      <address>
        <br>
        <a href="http://api-hogs.io">Api Hogs </a>
      </address>
    </div>
  </div>           
</div>
