<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <h3>About</h3>   
      <hr> 
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <img src="images/bg1.jpg" alt="..." class="img-responsive col col-xs-6 col-sm-4 pull-left">
      <p>
        A new look at the internationalization of your app.
        Without conflict, editing directly on the site, rate of change, always in the context of the page. In Api hogs, we often write web solutions with support for many languages, and for the correct translation it is very important to see the context of the content, so after a long search for the right and handy solution, we’ve come to TRS.
      </p>
      <hr>
      <address>
        <br>
        <a href="http://api-hogs.io">Api Hogs </a>
      </address>
    </div>
  </div>           
</div>
