<div class="index_block">
  <div class="container">
    <div class="index_text">
      <h1>TRS</h1>
      <p>
            A new look at the internationalization of your app.
      </p>   
      <p>
      </p>        
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
        <h2>
        In our company, we often write web solutions with support for many languages, and for the correct translation it is very important to see the context of the content, so after a long search for the right and handy solution, we’ve come to TRS
        </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <H3>Easy</H3>
      <p>
        1.Editing on the page of real content.
        <br />
        2.Easy control of locals and the creation of new ones.
        <br />
        3.The components for diffefent frameworks.
      </p>
    </div>  
    <div class="col col-sm-4">
      <H3>Complex</H3>
      <p>
        1.Administrative part
        <br />
        2.Server API
        <br />
        3.Plugins
      </p>
    </div>  
    <div class="col col-sm-4">
      <H3>Created for people</H3>

      <p>
          1.without conflict
          <br />
          2.editing directly on the site
          <br />
          3.rate of change
          <br />
          4.always in the context of the page. 
      </p>
    </div>  
  </div>      
</div>

