<div class="index_block">
  <div class="container">
    <div class="index_text">
      <h1>TRS</h1>
      <p>
          Another way for localization app
      </p>   
      <p>
      </p>        
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <h2>3 reasons to choose Trs-ember</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <H3>Administation</H3>
      <p>
      Power Administration part for manage locales
      </p>
    </div>  
    <div class="col col-sm-4">
      <H3>API</H3>
      <p>
        API part with token protection
      </p>
    </div>  
    <div class="col col-sm-4">
      <H3>Plugins</H3>
      <p>
        Plugins system for you js framework
      </p>
    </div>  
  </div>      
</div>

