<div class="index_block">
  <div class="container">
    <div class="index_text">
      <h1>TRS</h1>
      <p>
            A new look at the internationalization of your app.
      </p>   
      <p>
      </p>        
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <h2>3 reasons to choose Trs-ember</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
      <H3>Administation</H3>
      <p>
        1.Editing on the page of real content.
        <br />
        2.Easy control of locals and the creation of new ones.
        <br />
        3.The components for diffefent frameworks.
      </p>
    </div>  
    <div class="col col-sm-4">
      <H3>API</H3>
      <p>
        1.Administrative part
        <br />
        2.Server API
        <br />
        3.Plugins
      </p>
    </div>  
    <div class="col col-sm-4">
      <H3>Plugins</H3>
      <p>
          1.without conflict
          <br />
          2.editing directly on the site
          <br />
          3.rate of change
          <br />
          4.always in the context of the page. 
      </p>
    </div>  
  </div>      
</div>

