<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <h3>Projects
        <button class="btn btn-success pull-right"  data-toggle="collapse" data-target="#addProject" aria-expanded="false" aria-controls="addProject">Add project</button> 
      </h3>   
      <hr> 

      <form id="addProject" class="collapse">
        <div class="well">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Add Project">
          </div>
          <button type="submit" class="btn btn-success ">Save</button>            
        </div>            
      </form>
          
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <ul class="list-group items_list">
        <li class="list-group-item">
          <h4><small>25.11.2014</small> <a href="project.html">Project 1 </a>
            <a href="edit_project.html" class="btn btn-xs btn-info glyphicon glyphicon-pencil"></a> 
            <button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target=".modal_del"></button>     
          </h4>
        </li>
        
        <li class="list-group-item">
          <h4><small>25.11.2014</small> <a href="project.html">Project 2 with loooooooong title </a>
            <a href="edit_project.html" class="btn btn-xs btn-info glyphicon glyphicon-pencil"></a> 
            <button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target=".modal_del"></button>       
          </h4>
        </li>
        <li class="list-group-item">
          <h4><small>25.11.2014</small> <a href="project.html">Project 3 </a>
            <a href="edit_project.html" class="btn btn-xs btn-info glyphicon glyphicon-pencil"></a> 
            <button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target=".modal_del"></button>        
          </h4>
        </li>
        <li class="list-group-item">
          <h4><small>25.11.2014</small> <a href="project.html">Project 457-000098</a>
            <a href="edit_project.html" class="btn btn-xs btn-info glyphicon glyphicon-pencil"></a> 
            <button type="button" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target=".modal_del"></button>       
          </h4>
        </li>
      </ul>
    </div>
  </div>           
</div>