<div class="container col-sm-offset-4 col-sm-3">
  <form class="form" {{action 'sendConfirmation' on='submit'}}>
    <h2 clas="form-signin-heading">Resend confirmation link</h2>
    {{input type="email" placeholder="Your Email" value=model.email class="form-control"}}
    {{#if error}}
      <div class="error-message">{{error}}</div>
    {{/if}}
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Resend" disabled={{inProcess}} required>
  </form>
  <div class="text center">Need an Account?</div>
  <div class="buttons">
    {{#link-to 'signup' class="btn byn-sm btn-default"}}Sign up here{{/link-to}}
  </div>
</div>

