<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Sign up
        {{#link-to "signin" class="pull-right"}} <small> Already registered? </small> {{/link-to}}
      </h3>
      <hr>

      <form {{action 'signup' 'withDefault' on='submit'}}>
        <div class="form-group">
          {{input type="email" placeholder="Your Email" value=model.email class="form-control"}}
        </div>
        <div class="form-group">
          {{input type="password" placeholder="Your Password" value=model.password class="form-control"}}
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Retype password">
        </div>
        
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Register" disabled={{inProcess}}>
        </div>
      </form>

    </div>  
  </div>           
</div>