<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class='navbar-brand'}} 
          TRS
      {{/link-to}}
    </div>

    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li> {{#link-to 'about'}} About {{/link-to}} </li>
        {{#if session.isAuthenticated}}
          <li> {{#link-to 'projects'}} Projects {{/link-to}} </li>
        {{/if}}
        <li> {{#link-to 'contacts'}} Contacts {{/link-to}} </li>
      </ul>
      
      <div class="navbar-form navbar-nav navbar-right btn-group" role="group" aria-label="...">
        {{#if session.isAuthenticated}}
          <a {{ action 'invalidateSession' }} class="btn">Logout</a>
        {{else}}
          {{#link-to 'signin' class='btn btn-secondary-outline'}} Sign In {{/link-to}}
          {{#link-to 'signup' class='btn'}} Sign Up {{/link-to}}
        {{/if}}
      </div>
    </div> 

  </div>
</nav>
