<div class="col col-xs-12 col-sm-9">          
  <h3>Language: {{language.id}}</h3> 
  <hr>
  <form>
    <div class="form-group">
      {{json-edit json=language.data language=language saveLanguage="saveLanguage"}}
    </div>
  </form> 
  <hr>
  <form>
    <div class="form-group">
      {{textarea rows="10" class="form-control" placeholder="RAW edit" value=rawValue }}
    </div>
    <button type="submit" class="btn btn-success" {{action 'saveRaw'}}>Save RAW</button>                
  </form> 

</div>

